.login {
     height: 100vh;
     background-color: rgb(193, 190, 255);
     display: flex;
     justify-content: center;
     align-items: center;

     .card {
          display: flex;
          background-color: #fff;
          border-radius: 10px;
          width: 50%;
          min-height: 600px;
          overflow: hidden;

          .left {
               flex: 1;
               padding: 50px;
               background-image: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url(../../../public/images/sary.jpg);
               background-size: cover;
               display: flex;
               flex-direction: column;
               gap: 30px;
               color: white;


               h1 {
                    font-size: 100px;
                    line-height: 100px;
               }

               p {
                    font-size: 20px;
               }

               span {
                    font-size: 20px;
               }

               button {
                    width: 50%;
                    height: 40px;
                    color: rgb(128, 6, 109);
                    cursor: pointer;
                    border: none;
               }
          }

          .right {
               flex: 1;
               padding: 50px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 30px ;

               h1 {
                    font-size: 40px;
                    color: rgb(106, 101, 101);
               }

               form {
                    display: flex;
                    flex-direction: column;
                    gap : 30px ;     
                    input {
                         border : none ;
                         border-bottom: 1px solid whitesmoke;
                         padding: 20px 10px;
                    }
     
                    button {
                         border : none ;
                         width: 50%;
                         color : white ;
                         background: rgb(195, 9, 180, 0.8);
                         height: 40px;
                         border-radius: 5px;
                         cursor : pointer ;
                    }
               }
              
          }

     }
}